body {
    background-image: url(../images/extremebackground.png);
    background-size: 150vw 120vh;
    background-position-x: right;
}

.topMarg {
    margin-top: 2em;
}

.container {
    margin-top: 12em;
}

.center {
    text-align: center;
}

.instructions {
    font-size: 1em;
}


/* MEDIA QUERIES */