body {
    background-image: url(../images/extremebackground.png);
    background-size: 150vw 120vh;
    background-position-x: right;
}

.word {
    font-size: 12em;
    margin-top: .7em;
    text-align: center;
}

.container {
    margin-top: 12em;
}

.center {
    text-align: center;
}

.instructions {
    font-size: 1em;
}

.down {
    margin-top: 145px;
}

/* MEDIA QUERIES */